/* Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) 

/Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) 

 Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) 

 Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px)  */

.results-hero-container {
  color: #f0f0f0;
}
.results-hero-heading {
  font-weight: 700;
  font-size: 3rem;
}
.resultsCard {
  border: none !important;
  background: none;
}
.card-img-top:hover {
  opacity: 0.6;
}
.card-columns .card {
  margin-bottom: 2rem;
}
.resultsCard h5 {
  color: #c8c8c8;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 1rem;
}
.resultsCard .card-body {
  padding: 0px;
}
.card-columns {
  column-count: 4;
}

@media only screen and (max-width: 991.98px) {
  .card-columns {
    column-count: 3;
  }
}
@media only screen and (max-width: 767.98px) {
  .card-columns {
    column-count: 2;
  }
}
@media only screen and (max-width: 575.98px) {
  .card-columns {
    column-count: 1;
  }
  .tone-message-container {
    /* box-shadow: 0px 4px 10px #1c58b5;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 5px;
    color: #484848;
    background-color: white; */
    margin-bottom: 1rem !important;
    padding: 2rem 0.2rem 1rem 2rem !important;
  }
}

@keyframes stretch {
  0% {
    transform: scale(0.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1.5);
    background-color: yellow;
    border-radius: 100%;
  }
}

.tone-message-container {
  box-shadow: 0px 4px 10px #1c58b5;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 5rem 5rem 3rem;
  border-radius: 5px;
  color: #484848;
  background-color: white;
  margin-bottom: 2rem;
}

.results-hero-paragraph {
  font-size: 1.125rem;
  font-style: italic;
}

.mediaTitle {
  color: white;
}
.mediaTitle:hover {
  text-decoration: none;
  color: #1c58b5;
}
.results-container {
  padding-bottom: 10%;
  margin-top: 3rem;
}

.show-button {
  display: inline-block;
  padding: 0.6rem 12% 0.6rem 12%;
  background: #1c59b536;
  border: none;
  border-radius: 0.2rem;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  font-weight: bold;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: all ease 0.3s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.show-button:hover {
  text-decoration: none;

  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
}
.show-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
}

.show-button-clicked {
  display: inline-block;
  padding: 0.6rem 12% 0.6rem 12%;
  background: #1c58b5;
  border: none;
  border-radius: 0.2rem;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  font-weight: bold;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: all ease 0.3s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.show-button-clicked:hover {
  text-decoration: none;
  color: #ffffff;

  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
}
.show-button-clicked:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
}
.show-button-clicked:focus {
  outline: 1px dotted white;
}

.show-buttons {
  text-align: center;
}
